@page "/Log in"
@using LaboBadge.Services
@using LaboBadge.Models
@inject LaboBadge.Storage.Storages st


<h3>LogIn</h3>
<form>
   
    <fieldset>
    <legend>Log in  </legend>
    <div class="form-group row ">

    </div>
   
    <div class="form-group">
      <label for="exampleInputpseudo" class="form-label mt-4">pseudo</label>
      <input type="text" @bind="user.Email" class="form-control" id="JeanBonBeurre" aria-describedby="pseudo" placeholder="enter pseudo">
      <small id="pseudoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"  class="form-label mt-4">Password</label>
      <input type="password" class="form-control" @bind="user.Passwd" id="exampleInputPassword1" placeholder="Password">
    </div>
 
    <button type="button" class="btn btn-primary" @onclick = "CallLogIn" >Submit</button>
 </fieldset>

</form>
@code {
    User user = new User();
    private async void CallLogIn()
    {
        await UserServices.LogIn(user.Email, user.Passwd, st );

        

    }


}
